DASHSCOPE_API_KEY=
TRIPMIND_LLM_PROVIDER=dashscope
TRIPMIND_LLM_MODEL=qwen3.6-plus
TRIPMIND_LLM_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
TRIPMIND_LLM_WIRE_API=chat
TRIPMIND_LLM_ENABLE_THINKING=false
TRIPMIND_LLM_TIMEOUT_SECONDS=45
TRIPMIND_LLM_MAX_RETRIES=1
TRIPMIND_LLM_CACHE=false
TRIPMIND_LLM_CACHE_PATH=.tripmind_llm_cache.json
TRIPMIND_USE_MOCK=false
AMAP_API_KEY=
BAIDU_MAP_AK=
TRIPMIND_TRAVEL_PROVIDER=amap
